<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-biometricauth" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>BiometricAuth</name>
<js-module name="BiometricAuth" src="www/BiometricAuth.js"><clobbers target="cordova.plugins.BiometricAuth" />
</js-module>
<platform name="android">
	<config-file parent="/*" target="res/xml/config.xml">
	<feature name="BiometricAuth"><param name="android-package" value="cordova-plugin-biometricauth.BiometricAuth" />
	</feature></config-file><config-file parent="/*" target="AndroidManifest.xml">
	</config-file><source-file src="src/android/BiometricAuth.java" target-dir="src/cordova-plugin-biometricauth/BiometricAuth" />
	<framework custom="true"  src="src/android/biometric.gradle" type="gradleReference" />
	
	<resource-file src="src/android/libs/oz-liveness-sdk-1.8.0-release.aar" target="libs/oz-liveness-sdk-1.8.0-release.aar"/>
	
	<resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml"/>
	<resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml"/>
	<resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml"/>	 
	
	
</platform>
</plugin>